* {
  box-sizing: border-box;
}

.section {
  width: 642px;
  height: 545px;

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed #9747ff;
    padding: 19px;
    width: 442px;
    overflow: hidden;
    row-gap: 20px;

    .homeIndicator {
      border-radius: 100px;
      background: var(--Grays-Black, #000000);
      width: 134px;
      height: 5px;
    }

    .typeMain {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: flex-end;
      margin-right: 1px;
      padding: 24px 20px 40px;
      height: 141px;
      overflow: hidden;
      row-gap: 16px;
      background-image: linear-gradient(180deg, #00000000 0%, #0000001a 75%);

      .bottomBar {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        min-width: 362px;
        height: 56px;

        .me {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }

        .container {
          display: inline-flex;
          align-items: center;
          border-radius: 40px;
          box-shadow: inset -1px -1px 0px 0px #ffffff40,
            inset 1px 1px 0px 0px #ffffff;
          background: #ffffffcc;
          padding: 4px;
          overflow: hidden;
          backdrop-filter: blur(30px);

          .bottomBarButton {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 100px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 54px;
            height: 48px;
          }

          .bottomBarButton2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 100px;
            background: var(--Fills-Quaternary, #78788014);
            padding-top: 8px;
            padding-bottom: 8px;
            width: 54px;
            height: 48px;

            .text {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Colors-Blue, #007aff);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }

        .container2 {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 40px;
          box-shadow: inset -1px -1px 0px 0px #ffffff40,
            inset 1px 1px 0px 0px #ffffff;
          background: #ffffffcc;
          padding: 4px 12px;
          height: 56px;
          overflow: hidden;
          backdrop-filter: blur(30px);

          .button {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 100px;
            padding-top: 8px;
            padding-bottom: 8px;
            width: 44px;
            height: 44px;
          }
        }
      }

      .homeIndicator2 {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        flex-shrink: 0;
        align-items: flex-start;
        padding: 21px 134px 8px;
        width: 402px;
        height: 34px;
      }
    }

    .typeAction {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      padding-right: 1px;

      .gradient {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        padding-top: 48px;
        background-image: url(../image/mloib9qk-vccr8qh.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .frame {
          display: flex;
          align-items: flex-start;
          column-gap: 12px;
          width: 362px;

          .text2 {
            flex-grow: 1;
            padding: 12px 20px;
            width: 175px;
            height: 48px;
            text-align: center;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Labels-Secondary, #8a8a8e);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }

          .button2 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 8px;
            border-radius: 12px;
            background: var(--Fills-Tertiary, #7878801f);
            padding-right: 20px;
            padding-left: 20px;
            height: 48px;

            .text3 {
              flex-shrink: 0;
              line-height: 24px;
              letter-spacing: 0;
              color: var(--Colors-Blue, #007aff);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }

        .homeIndicator3 {
          display: flex;
          align-items: flex-start;
          align-self: stretch;
          margin-top: 14px;
          padding: 21px 134px 8px;
        }
      }
    }
  }
}
