* {
  box-sizing: border-box;
}

.section {
  width: 543px;
  height: 709px;

  .text2 {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Grays-White, #ffffff);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .text {
    flex-shrink: 0;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--Labels-Primary, #000000);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  .tag {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    border: 1px dashed #9747ff;
    padding: 19px;
    width: 343px;
    overflow: hidden;
    row-gap: 10px;

    .frame1171275910 {
      flex-shrink: 0;
      border-radius: 1000px;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    .selectedFalseLeading {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Fills-Quaternary, #78788014);
      padding: 6px 16px;
      height: 40px;
      overflow: hidden;

      .a {
        flex-shrink: 0;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .selectedFalseLeading2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Fills-Quaternary, #78788014);
      padding: 6px 16px;
      height: 40px;
      overflow: hidden;
    }

    .selectedFalseLeading3 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Fills-Quaternary, #78788014);
      padding: 6px 8px 6px 16px;
      height: 40px;
      overflow: hidden;
    }

    .selectedTrueLeadingI {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Colors-Blue, #007aff);
      padding: 6px 16px 6px 12px;
      height: 40px;
      overflow: hidden;

      .frame1171275909 {
        flex-shrink: 0;
        border-radius: 1000px;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }

    .selectedTrueLeadingI2 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Colors-Blue, #007aff);
      padding: 6px 16px;
      height: 40px;
      overflow: hidden;
    }

    .selectedTrueLeadingI3 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 24px;
      background: var(--Colors-Blue, #007aff);
      padding: 6px 8px 6px 16px;
      height: 40px;
      overflow: hidden;
    }
  }

  .componentSet {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed #8a38f5;
    padding: 19px;
    overflow: hidden;
    row-gap: 10px;

    .a32 {
      flex-shrink: 0;
      align-self: stretch;
      text-align: center;
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Colors-Blue, #007aff);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .stateEnabled {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 1000px;
      background: var(--Fills-Quaternary, #78788014);
      padding: 6px 20px 6px 16px;
      height: 48px;
      overflow: hidden;

      .a2 {
        flex-shrink: 0;
        width: 20px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .stateAction {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border-radius: 1000px;
      overflow: hidden;

      .tint {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        background: var(--Labels-Quaternary, #dcdcdd);
        padding: 14px 20px 14px 16px;
        width: 91px;
        min-width: 91px;
        height: 48px;

        .badge {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 24px;
          background: var(--Backgrounds-Grouped-Secondary, #ffffff);
          height: 20px;
          overflow: hidden;
          row-gap: 10px;

          .a3 {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--Labels-Primary, #000000);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .text3 {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .stateHasSelectedChil {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 1000px;
      background: var(--Colors-Blue, #007aff);
      padding: 6px 20px 6px 16px;
      height: 48px;
      overflow: hidden;

      .badge2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background: var(--Grays-White, #ffffff);
        height: 20px;
        overflow: hidden;
        row-gap: 10px;
      }
    }

    .stateState4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border-radius: 1000px;
      overflow: hidden;

      .tint2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        background: var(--Labels-Quaternary, #dcdcdd);
        padding: 14px 20px 14px 16px;
        width: 91px;
        min-width: 91px;
        height: 48px;

        .badge3 {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-radius: 24px;
          background: var(--Grays-White, #ffffff);
          height: 20px;
          overflow: hidden;
          row-gap: 10px;
        }

        .text4 {
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Grays-White, #ffffff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }
}
