* {
  box-sizing: border-box;
}

.section {
  width: 594px;
  height: 866px;

  .message2 {
    flex-shrink: 0;
    align-self: stretch;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Labels-Secondary, #8a8a8e);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .frame {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    overflow: hidden;
  }

  .a12 {
    flex-shrink: 0;
    width: 13px;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Backgrounds-Primary, #ffffff);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
  }

  .message {
    display: flex;
    align-items: center;
    column-gap: 8px;
    border: 1px solid var(--Grays-Gray-6, #f2f2f7);
    border-radius: 8px;
    background: var(--Backgrounds-Grouped-Secondary, #ffffff);
    padding: 15px;
    width: 362px;

    .bell02 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    .text {
      flex-grow: 1;
      line-height: 18px;
      letter-spacing: -0.08px;
      color: var(--Labels-Primary, #000000);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--Grays-Gray-6, #f2f2f7);
    border-radius: 16px;
    background: var(--Backgrounds-Grouped-Secondary, #ffffff);
    padding: 15px 15px 19px;
    width: 174px;
    row-gap: 12px;

    .header {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;

      .avatar {
        display: inline-flex;
        position: relative;
        flex-shrink: 0;
        align-items: flex-start;
        justify-content: flex-end;

        .image {
          flex-shrink: 0;
          border: 1px solid var(--Labels-Quaternary, #dcdcdd);
          border-radius: 22px;
          background: var(--Avatar-1);
          width: 44px;
          height: 44px;
          background-image: url(../image/mloib9ne-au5s4g4.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          filter: drop-shadow(5px 5px 5px #00000005);
        }

        .instance {
          position: absolute;
          top: 0;
          right: -5px;
          flex-shrink: 0;
          margin-left: -14px;
          box-shadow: 0px 0px 9px 0px #00000026;
          width: 19px;
          height: 21px;

          .frame2989 {
            display: flex;
            position: absolute;
            top: 1px;
            left: 1px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 18px;
            background: var(--Grays-White, #ffffff);
            padding: 4px;
            width: 18px;
            height: 18px;
            row-gap: 10px;

            .a {
              flex-shrink: 0;
              line-height: 8px;
              letter-spacing: 0;
              color: var(--Labels-Primary, #000000);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 8px;
            }
          }

          .rectangle601 {
            position: absolute;
            top: 12px;
            left: 1px;
            border-radius: 6px;
            background: var(--Grays-White, #ffffff);
            width: 6px;
            height: 6px;
          }

          .rectangle602 {
            position: absolute;
            top: 18px;
            left: 5px;
            border-radius: 3px;
            background: var(--Grays-White, #ffffff);
            width: 3px;
            height: 3px;
          }
        }
      }

      .button {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border: 1px solid var(--Grays-Gray-6, #f2f2f7);
        border-radius: 16px;
        box-shadow: 4px 4px 4px 0px #00000005;
        background: var(--Grays-White, #ffffff);
        padding: 5px 11px;
        height: 28px;

        .label {
          flex-shrink: 0;
          line-height: 14px;
          letter-spacing: 0;
          color: var(--Colors-Blue, #007aff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 10px;
          font-weight: 500;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      padding-right: 4px;
      padding-left: 4px;
      row-gap: 6px;

      .name {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      .bio {
        flex-shrink: 0;
        align-self: stretch;
        width: 134px;
        line-height: 16px;
        letter-spacing: 0;
        color: var(--Labels-Secondary, #8a8a8e);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 11px;
      }
    }
  }

  .badge {
    display: inline-flex;
    align-items: flex-start;
    column-gap: 10px;
    border: 1px dashed #9747ff;
    padding: 19px;
    overflow: hidden;

    .property1Default {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--Grays-White, #ffffff);
      border-radius: 8px;
      background: var(--Colors-Blue, #007aff);
      padding: 10px 4px;
      height: 16px;
      row-gap: 10px;
    }

    .property1Variant2 {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      outline-width: 1px;
      outline-style: solid;
      outline-color: var(--Grays-White, #ffffff);
      border-radius: 8px;
      background: var(--Colors-Blue, #007aff);
      padding: 10px 4px;
      height: 16px;
      row-gap: 10px;
    }
  }

  .componentSet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed #9747ff;
    background: var(--Backgrounds-Primary, #ffffff);
    padding: 19px;
    width: 394px;
    overflow: hidden;
    row-gap: 10px;

    .arrow {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 4px;

      .name2 {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .component {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 64px;

      .frame6916 {
        position: relative;
        flex-shrink: 0;
        width: 40px;
        height: 40px;

        .avatar2 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-21);
          width: 40px;
          height: 40px;
          overflow: hidden;
          background-image: url(../image/mloib9ne-5oe3lyy.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .badge2 {
          display: inline-flex;
          position: absolute;
          top: -4px;
          right: -4px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          outline-width: 1px;
          outline-style: solid;
          outline-color: var(--Grays-White, #ffffff);
          border-radius: 8px;
          background: var(--Colors-Blue, #007aff);
          padding: 10px 4px;
          width: 18px;
          height: 16px;
          row-gap: 10px;
        }
      }
    }

    .component2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding-top: 12px;
      padding-bottom: 12px;
      height: 64px;

      .frame69162 {
        position: relative;
        flex-shrink: 0;
        width: 40px;
        height: 40px;

        .avatar3 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          align-items: center;
          justify-content: center;
          column-gap: 3px;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Backgrounds-Grouped-Secondary, #ffffff);
          padding: 4px;
          width: 40px;
          height: 40px;
          overflow: hidden;

          .magicHat {
            flex-shrink: 0;
            width: 24px;
            height: 24px;
            overflow: hidden;
          }
        }

        .badge3 {
          display: inline-flex;
          position: absolute;
          top: -4px;
          right: -4px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          outline-width: 1px;
          outline-style: solid;
          outline-color: var(--Grays-White, #ffffff);
          border-radius: 8px;
          background: var(--Colors-Blue, #007aff);
          padding: 10px 4px;
          width: 21px;
          height: 16px;
          row-gap: 10px;
        }
      }
    }
  }

  .messageItem {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 354px;

    .avatar4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--Separators-Non-opaque, #54545657);
      border-radius: 10px;
      background: var(--Avatar-21);
      width: 40px;
      height: 40px;
      background-image: url(../image/mloib9ne-5oe3lyy.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .content2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      row-gap: 4px;

      .titleDate {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;

        .name3 {
          flex-grow: 1;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .time {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Labels-Tertiary, #c4c4c7);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }
  }
}
