* {
  box-sizing: border-box;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Backgrounds-Primary, #ffffff);
  width: 402px;
  height: 874px;
  overflow: hidden;

  .topBar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;

    .statusBar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 154px;
      padding: 21px 24px 19px;

      .time2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding-top: 2px;
        height: 22px;

        .time {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }
      }

      .levels {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        padding-top: 1px;
        padding-right: 1px;
        height: 22px;

        .cellularConnection {
          flex-shrink: 0;
          width: 19px;
          height: 12px;
        }

        .wifi {
          flex-shrink: 0;
          width: 17px;
          height: 12px;
        }

        .frame {
          flex-shrink: 0;
          width: 27px;
          height: 13px;
        }
      }
    }

    .title {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 20px;
      padding-left: 20px;
      min-width: 402px;
      height: 32px;

      .autoWrapper {
        position: relative;
        width: 255px;
        height: 32px;

        .text {
          position: absolute;
          top: 0;
          left: 0;
          width: 255px;
          height: 32px;
          line-height: 32px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 24px;
          font-weight: 600;
        }

        .returnButton {
          display: flex;
          position: absolute;
          top: 0;
          right: -8px;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Grays-Gray-5, #e5e5ea);
          border-radius: 100px;
          background: var(--Miscellaneous-Title-Button-BG, #ffffff80);
          width: 32px;
          height: 32px;

          .liBadgeInfo {
            flex-shrink: 0;
            width: 22px;
            height: 22px;
            overflow: hidden;
          }
        }
      }

      .wechatsystemDefault3 {
        border-radius: 100px;
        width: 87px;
        height: 32px;
        backdrop-filter: blur(15px);
      }
    }
  }

  .content4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Backgrounds-Secondary, #f2f2f7);
    overflow: hidden;
    row-gap: 4px;

    .message2 {
      flex-shrink: 0;
      align-self: stretch;
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Labels-Secondary, #8a8a8e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .top {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      background: var(--Backgrounds-Grouped-Secondary, #ffffff);
      padding-top: 20px;
      padding-bottom: 20px;

      .tip {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        background: var(--Backgrounds-Grouped-Secondary, #ffffff);
        padding: 0px 20px 12px;
        row-gap: 10px;

        .message {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          border: 1px solid var(--Grays-Gray-6, #f2f2f7);
          border-radius: 8px;
          background: var(--Backgrounds-Grouped-Secondary, #ffffff);
          padding: 15px;
          width: 362px;

          .bell02 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
          }

          .text2 {
            flex-grow: 1;
            line-height: 18px;
            letter-spacing: -0.08px;
            color: var(--Labels-Primary, #000000);
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 600;
          }
        }
      }

      .messageList {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        background: var(--Backgrounds-Grouped-Secondary, #ffffff);
        padding-right: 20px;
        padding-left: 20px;

        .arrow {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }

        .content {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          row-gap: 4px;

          .name {
            flex-shrink: 0;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--Labels-Primary, #000000);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 500;
          }
        }

        .instance {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          padding-top: 12px;
          padding-bottom: 12px;
          height: 64px;

          .frame6916 {
            position: relative;
            flex-shrink: 0;
            width: 40px;
            height: 40px;

            .avatar {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              justify-content: center;
              column-gap: 3px;
              border: 1px solid var(--Separators-Non-opaque, #54545657);
              border-radius: 10px;
              background: var(--Backgrounds-Grouped-Secondary, #ffffff);
              padding: 4px;
              width: 40px;
              height: 40px;
              overflow: hidden;

              .magicHat {
                flex-shrink: 0;
                width: 24px;
                height: 24px;
                overflow: hidden;
              }
            }

            .badge {
              display: inline-flex;
              position: absolute;
              top: -4px;
              right: -4px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              outline-width: 1px;
              outline-style: solid;
              outline-color: var(--Grays-White, #ffffff);
              border-radius: 8px;
              background: var(--Colors-Blue, #007aff);
              padding: 10px 4px;
              width: 21px;
              height: 16px;
              row-gap: 10px;

              .a12 {
                flex-shrink: 0;
                width: 13px;
                line-height: 16px;
                letter-spacing: 0;
                color: var(--Backgrounds-Primary, #ffffff);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 500;
              }
            }
          }
        }

        .instance2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          padding-top: 12px;
          padding-bottom: 12px;
          height: 64px;

          .frame69162 {
            position: relative;
            flex-shrink: 0;
            width: 40px;
            height: 40px;

            .avatar2 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              justify-content: center;
              border: 1px solid var(--Separators-Non-opaque, #54545657);
              border-radius: 10px;
              background: var(--Avatar-21);
              width: 40px;
              height: 40px;
              overflow: hidden;
              background-image: url(../image/mloilrne-joyo95v.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }

            .badge2 {
              display: inline-flex;
              position: absolute;
              top: -4px;
              right: -4px;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              outline-width: 1px;
              outline-style: solid;
              outline-color: var(--Grays-White, #ffffff);
              border-radius: 8px;
              background: var(--Colors-Blue, #007aff);
              padding: 10px 4px;
              width: 18px;
              height: 16px;
              row-gap: 10px;

              .frame2 {
                flex-shrink: 0;
                width: 10px;
                height: 10px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }

    .top2 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      background: var(--Backgrounds-Grouped-Secondary, #ffffff);
      padding: 12px 20px;

      .time3 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Labels-Tertiary, #c4c4c7);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }

      .content2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 4px;

        .titleDate {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;

          .name2 {
            flex-grow: 1;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Labels-Primary, #000000);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 600;
          }
        }
      }

      .content3 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 4px;

        .titleDate2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 16px;

          .title2 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            column-gap: 6px;

            .name3 {
              flex-shrink: 0;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Labels-Primary, #000000);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 600;
            }

            .name4 {
              flex-grow: 1;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Labels-Tertiary, #c4c4c7);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }

      .messageItem {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-1);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-6n7vkjc.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem2 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-3);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-p7w00f3.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem3 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar5 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-22);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-go2tebk.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem4 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar6 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 57px;
          background: var(--Avatar-9);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-35rcor3.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem5 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-30);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-ng82hra.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem6 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar8 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-12);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-0lyn5e7.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem7 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar9 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-13);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-ovk7l6e.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }

      .messageItem8 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 12px;
        padding-top: 12px;
        padding-bottom: 12px;

        .avatar10 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Separators-Non-opaque, #54545657);
          border-radius: 10px;
          background: var(--Avatar-23);
          width: 40px;
          height: 40px;
          background-image: url(../image/mloilrne-z2a17ne.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
