* {
  box-sizing: border-box;
}

.component {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background: var(--Backgrounds-Primary, #ffffff);
  width: 402px;
  height: 874px;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    align-self: stretch;
    padding-top: 102px;
    height: 874px;
    overflow-y: auto;
    row-gap: 32px;

    .welcom {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      padding: 8px 20px 0px 16px;
      row-gap: 20px;

      .frame1171275949 {
        flex-shrink: 0;
        width: 100px;
        height: 90px;
      }

      .text3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        row-gap: 8px;

        .text {
          flex-shrink: 0;
          line-height: 28px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 20px;
          font-weight: 600;
        }

        .text2 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Labels-Secondary, #8a8a8e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
        }
      }
    }

    .frame {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 8px;
      padding-right: 20px;
      padding-left: 20px;
      row-gap: 12px;

      .text4 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 500;
      }

      .a {
        flex-shrink: 0;
        width: 20px;
        text-align: center;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      .instance {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border-radius: 1000px;
        background: #f4f5f6;
        padding: 6px 20px 6px 16px;
        height: 48px;
        overflow: hidden;
      }

      .instance2 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border-radius: 1000px;
        background: var(--Fills-Quaternary, #78788014);
        padding: 6px 20px 6px 16px;
        height: 48px;
        overflow: hidden;
      }

      .instance3 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border-radius: 1000px;
        background: var(--Colors-Blue, #007aff);
        padding: 6px 20px 6px 16px;
        height: 48px;
        overflow: hidden;

        .badge {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border: 1px solid var(--Grays-White, #ffffff);
          border-radius: 24px;
          background: var(--Grays-White, #ffffff);
          width: 20px;
          height: 20px;
          overflow: hidden;
          row-gap: 10px;

          .a3 {
            flex-shrink: 0;
            align-self: stretch;
            text-align: center;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--Colors-Blue, #007aff);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .text5 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Grays-White, #ffffff);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  .statusBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 154px;
    padding: 21px 24px 19px;
    width: 402px;
    height: 62px;

    .time2 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      padding-top: 2px;
      height: 22px;

      .time {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 600;
      }
    }

    .levels {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 7px;
      padding-top: 1px;
      padding-right: 1px;
      height: 22px;

      .cellularConnection {
        flex-shrink: 0;
        width: 19px;
        height: 12px;
      }

      .wifi {
        flex-shrink: 0;
        width: 17px;
        height: 12px;
      }

      .frame2 {
        flex-shrink: 0;
        width: 27px;
        height: 13px;
      }
    }
  }

  .title {
    display: flex;
    position: absolute;
    top: 62px;
    left: 0;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 1;
    padding: 0px 20px 8px;
    width: 402px;
    height: 40px;

    .left {
      display: inline-flex;
      position: relative;
      align-items: center;
      column-gap: 12px;

      .liChevronLeft {
        flex-shrink: 0;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }

      .returnButton {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--Grays-Gray-5, #e5e5ea);
        border-radius: 100px;
        background: var(--Miscellaneous-Title-Button-BG, #ffffff80);
        width: 32px;
        height: 32px;
      }

      .a18 {
        flex-shrink: 0;
        width: 219px;
        letter-spacing: 0;
        color: var(--Labels-Secondary, #8a8a8e);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 500;
      }

      .returnButton2 {
        display: flex;
        position: absolute;
        top: 0;
        right: 1px;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--Grays-Gray-5, #e5e5ea);
        border-radius: 100px;
        background: var(--Miscellaneous-Title-Button-BG, #ffffff80);
        width: 32px;
        height: 32px;
      }
    }

    .wechatsystemDefault3 {
      border-radius: 100px;
      width: 87px;
      height: 32px;
      backdrop-filter: blur(15px);
    }
  }

  .bottom {
    display: flex;
    position: absolute;
    bottom: 17px;
    left: 0;
    flex-shrink: 0;
    align-items: center;
    z-index: 2;
    padding-right: 1px;
    width: 402px;
    height: 144px;

    .gradient {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      padding-top: 48px;
      background-image: url(../image/mloilrsr-7cwiq5m.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .frame3 {
        display: flex;
        align-items: flex-start;
        column-gap: 12px;
        width: 362px;

        .text6 {
          flex-grow: 1;
          padding: 12px 20px;
          width: 175px;
          height: 48px;
          text-align: center;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Labels-Secondary, #8a8a8e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        .button {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 12px;
          background: var(--Fills-Tertiary, #7878801f);
          padding-right: 20px;
          padding-left: 20px;
          height: 48px;

          .text7 {
            flex-shrink: 0;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--Colors-Blue, #007aff);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .homeIndicator2 {
        display: flex;
        align-items: flex-start;
        align-self: stretch;
        margin-top: 14px;
        padding: 21px 134px 8px;

        .homeIndicator {
          border-radius: 100px;
          background: var(--Labels-Primary, #000000);
          width: 134px;
          height: 5px;
        }
      }
    }
  }
}
