* {
  box-sizing: border-box;
}

.component {
  position: relative;
  background: var(--Colors-Blue, #007aff);
  width: 402px;
  height: 874px;
  overflow-y: auto;

  .header {
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    width: 402px;
    height: 94px;

    .statusBar {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 154px;
      padding: 21px 24px 19px;
      width: 402px;

      .time2 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding-top: 2px;
        height: 22px;

        .time {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 600;
        }
      }

      .levels {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        padding-top: 1px;
        padding-right: 1px;
        height: 22px;

        .cellularConnection {
          flex-shrink: 0;
          width: 19px;
          height: 12px;
        }

        .wifi {
          flex-shrink: 0;
          width: 17px;
          height: 12px;
        }

        .frame {
          flex-shrink: 0;
          width: 27px;
          height: 13px;
        }
      }
    }

    .title {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      margin-right: 1px;
      padding: 0px 20px 1px;

      .liChevronLeft {
        flex-shrink: 0;
        width: 22px;
        height: 22px;
        overflow: hidden;
      }

      .returnButton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--Grays-Gray-5, #e5e5ea);
        border-radius: 100px;
        background: var(--Miscellaneous-Title-Button-BG, #ffffff80);
        width: 32px;
        height: 32px;
      }

      .returnButton2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 199px;
        border: 1px solid var(--Grays-Gray-5, #e5e5ea);
        border-radius: 100px;
        background: var(--Miscellaneous-Title-Button-BG, #ffffff80);
        width: 32px;
        height: 32px;
      }

      .wechatsystemDefault3 {
        margin-left: 12px;
        border-radius: 100px;
        width: 87px;
        height: 32px;
        backdrop-filter: blur(15px);
      }
    }
  }

  .instance {
    display: flex;
    position: absolute;
    top: 94px;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: var(--Colors-Blue, #007aff);
    padding: 56px 12px 192px;
    width: 402px;
    height: 1476px;
    overflow: hidden;

    .content2 {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      border-radius: 16px;
      box-shadow: var(
        --Shadow-Level-3,
        0px 4px 8px 3px var(--Shadow-Level-3, #0000000d)
      );
      background: var(--Backgrounds-Primary, #ffffff);
      padding: 32px 8px 40px;
      row-gap: 4px;

      .bio2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        padding: 0px 120px 16px 20px;
        row-gap: 12px;

        .name2 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 82px;
          row-gap: 6px;

          .text {
            flex-shrink: 0;
            line-height: 28px;
            letter-spacing: 0;
            color: var(--Labels-Primary, #000000);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 20px;
            font-weight: 600;
          }

          .frame3 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            margin-right: 26px;
            border: 1px solid var(--Fills-Tertiary, #7878801f);
            border-radius: 8px;
            background: var(--Backgrounds-Grouped-Secondary, #ffffff);
            padding: 6px 8px;

            .frame2 {
              flex-shrink: 0;
              width: 18px;
              height: 18px;
              overflow: hidden;
            }

            .vector8 {
              flex-shrink: 0;
              background: #78788014;
              width: 1px;
              height: 9px;
            }

            .logoName {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 4px;

              .logo {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                border-radius: 2px;
                background: var(--Colors-Blue, #007aff);
                padding: 4px 2px;
                overflow: hidden;

                .layer1 {
                  width: 10px;
                  height: 6px;
                  overflow: hidden;
                }
              }

              .name {
                flex-shrink: 0;
                line-height: 15px;
                letter-spacing: 0;
                color: var(--Colors-Blue, #007aff);
                font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 11px;
              }
            }
          }
        }

        .bio {
          display: -webkit-box;
          flex-shrink: 0;
          align-self: stretch;
          width: 222px;
          overflow: hidden;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Labels-Secondary, #8a8a8e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .divider {
        flex-shrink: 0;
        align-self: stretch;
        width: 362px;
        height: 1px;
      }

      .content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-end;
        align-self: stretch;
        border-radius: 16px;
        background: var(--Backgrounds-Primary, #ffffff);
        padding: 16px 20px 48px;
        row-gap: 20px;

        .text2 {
          flex-shrink: 0;
          align-self: stretch;
          width: 322px;
          line-height: 28px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }

        .frame4 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;

          .image2 {
            margin-top: 6px;
            border-radius: 8px;
            width: 103px;
            height: 106px;
            overflow: hidden;
          }

          .image {
            border-radius: 8px;
            width: 103px;
            height: 106px;
            overflow: hidden;
          }

          .autoWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
          }

          .autoWrapper2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            margin-left: 6px;
          }
        }

        .frame3056 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;
          border-radius: 12px;
          background: var(--Fills-Quaternary, #78788014);
          padding: 12px;

          .image3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            width: 40px;
            height: 40px;
          }

          .info2 {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            row-gap: 4px;

            .title2 {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Labels-Primary, #000000);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }

            .info {
              display: -webkit-box;
              flex-shrink: 0;
              align-self: stretch;
              overflow: hidden;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Labels-Secondary, #8a8a8e);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
        }

        .tag2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 2px;
          padding-top: 6px;
          padding-bottom: 6px;

          .hash {
            flex-shrink: 0;
            width: 14px;
            height: 14px;
            overflow: hidden;
          }

          .tag {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Colors-Blue, #007aff);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }

      .avatar {
        display: inline-flex;
        position: absolute;
        top: -24px;
        left: 298px;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border-radius: 1000px;
        background: var(--Backgrounds-Primary, #ffffff);
        padding: 8px;
        width: 80px;
        height: 80px;

        .image4 {
          flex-shrink: 0;
          border-radius: 50%;
          width: 64px;
          height: 64px;
        }
      }
    }

    .logo2 {
      position: absolute;
      top: 22px;
      left: 12px;
      flex-shrink: 0;
      margin-top: -50px;
      border-radius: 32px;
      width: 103px;
      height: 34px;
      overflow: hidden;
    }

    .brand {
      display: flex;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      z-index: 1;
      margin-top: -50px;

      .content3 {
        flex-grow: 1;
        border-radius: 0px 0px 32px 32px;
        box-shadow: 0 -1px var(--Fills-Secondary, #78788029);
        width: 378px;
        height: 68px;
        overflow: hidden;
      }

      .frame5 {
        display: inline-flex;
        position: absolute;
        top: -30px;
        right: 0;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;
        border: 1px solid var(--Fills-Secondary, #78788029);
        border-radius: 101px;
        box-shadow: var(
          --Shadow-Level-4,
          0px 6px 10px 4px var(--Shadow-Level-4, #0000000a)
        );
        background: var(--Backgrounds-Primary, #ffffff);
        padding: 7px;
        width: 128px;
        height: 128px;

        .qRCode {
          flex-shrink: 0;
          width: 112px;
          height: 112px;
          overflow: hidden;
        }
      }
    }

    .buttons {
      display: flex;
      position: absolute;
      top: 625px;
      left: 0;
      flex-shrink: 0;
      align-items: flex-start;
      column-gap: 12px;
      z-index: 2;
      margin-top: -50px;
      padding: 59px 24px 40px;
      width: 402px;
      height: 155px;
      background-image: linear-gradient(180deg, #007aff00 0%, #007aff 45%);

      .button {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-radius: 1000px;
        background: var(--Backgrounds-Grouped-Secondary, #ffffff);
        padding-right: 32px;
        padding-left: 32px;
        height: 56px;

        .leadingIcon {
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          overflow: hidden;
        }

        .text3 {
          flex-shrink: 0;
          line-height: 24px;
          letter-spacing: 0;
          color: var(--Labels-Primary, #000000);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}
