* {
  box-sizing: border-box;
}

.section {
  width: 606px;
  height: 847px;

  .label3 {
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Labels-Primary, #000000);
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  .icon2 {
    flex-shrink: 0;
    width: 17px;
    height: 17px;
    overflow: hidden;
  }

  .actionSheetItemAlert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px dashed #9747ff;
    padding: 19px;
    width: 330px;
    overflow: hidden;
    row-gap: 10px;

    .label2 {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Colors-Red, #ff3b30);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .label {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--Labels-Primary, #000000);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }

    .icon {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      overflow: hidden;
    }

    .stateEnabledAlertTru {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      padding: 16px 24px 16px 32px;
      overflow: hidden;
    }

    .stateDisabledAlertTr {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      opacity: 0.4;
      padding: 16px 24px 16px 32px;
      overflow: hidden;
    }

    .stateEnabledAlertFal {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      padding: 16px 24px 16px 32px;
      overflow: hidden;
    }

    .stateDisabledAlertFa {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;
      opacity: 0.4;
      padding: 16px 24px 16px 32px;
      overflow: hidden;
    }
  }

  .cityItem {
    display: flex;
    align-items: flex-start;
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: var(--Fills-Quaternary, #78788014);
    padding-top: 16px;
    padding-bottom: 15px;
    width: 362px;
    overflow: hidden;

    .text {
      flex-shrink: 0;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Labels-Primary, #000000);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .menuItem {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    padding: 12px 16px;
    overflow: hidden;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    background: var(--Backgrounds-Grouped-Secondary, #ffffff);
    padding-top: 6px;
    padding-bottom: 6px;
    width: 160px;

    .menuItem2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding: 12px 16px;
      overflow: hidden;
    }
  }
}
