* {
  box-sizing: border-box;
}

.section {
  width: 872px;
  height: 777px;

  .event {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 362px;

    .image {
      flex-shrink: 0;
      border-radius: 12px;
      width: 100px;
      height: 100px;
    }

    .frame1171275650 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      overflow: hidden;
      row-gap: 8px;

      .title {
        flex-shrink: 0;
        align-self: stretch;
        line-height: 24px;
        letter-spacing: 0;
        color: var(--Labels-Primary, #000000);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: 600;
      }

      .content {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 112px;
        row-gap: 4px;

        .date {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Labels-Secondary, #8a8a8e);
          font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }

        .liClock8 {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
          overflow: hidden;
        }

        .frame {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 6px;
        }

        .frame2 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 6px;
          margin-right: 54px;
        }

        .tag {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin-right: 85px;
          border-radius: 1000px;
          background: var(--Fills-Quaternary, #78788014);
          padding: 4px 8px;

          .eventDate {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--Labels-Secondary, #8a8a8e);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 11px;
          }
        }
      }
    }
  }

  .shareImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--Backgrounds-Primary, #ffffff);
    padding-top: 9px;
    padding-bottom: 5px;
    width: 345px;
    overflow: hidden;

    .cover {
      margin-left: 92px;
      border: 1px solid var(--Separators-Non-opaque, #54545657);
      border-radius: 20px;
      width: 160px;
      height: 160px;
      overflow: hidden;
      background-image: url(../image/mloidiku-tv0s4ij.png);
      background-position: -7px 1px;
      background-size: 108.14% 144.19%;
      background-repeat: no-repeat;
      filter: var(--Shadow-Level-3, drop-shadow(0px 4px 8px #00000008));
    }

    .text {
      margin: 18px 0px 0px;
      width: 354px;
      text-align: center;
      line-height: 28px;
      letter-spacing: 0;
      color: var(--Labels-Primary, #000000);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
    }

    .text2 {
      margin: 8px 0px 0px 49px;
      width: 256px;
      text-align: center;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--Labels-Secondary, #8a8a8e);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .frame3 {
      display: inline-flex;
      align-items: center;
      align-self: stretch;
      column-gap: 7px;
      margin: 8px 132px 0px 141px;

      .text3 {
        flex-shrink: 0;
        line-height: 20px;
        letter-spacing: 0;
        color: var(--Labels-Secondary, #8a8a8e);
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .ellipse1 {
        flex-shrink: 0;
        border-radius: 50%;
        background: var(--Labels-Secondary, #8a8a8e);
        width: 2px;
        height: 2px;
      }
    }
  }
}
